IOT_STORAGE_MODE=persistent
IOT_HTTP_ADDR=:8080
IOT_MQTT_BROKER_URL=tcp://emqx:1883
IOT_MQTT_CLIENT_ID=iot-platform
IOT_MQTT_USERNAME=iot-platform
IOT_MQTT_PASSWORD=replace-with-internal-mqtt-secret
IOT_DATABASE_URL=postgres://iot:iot@postgres:5432/iot?sslmode=disable
IOT_REDIS_ADDR=redis:6379
IOT_REDIS_PASSWORD=
IOT_REDIS_DB=0
IOT_TDENGINE_URL=http://tdengine:6041
IOT_TDENGINE_USERNAME=root
IOT_TDENGINE_PASSWORD=taosdata
IOT_JWT_SECRET=replace-with-at-least-16-random-characters
IOT_REQUEST_TIMEOUT_SECONDS=10
